<div class="mt-4 col-10 offset-1">
  <div class="card">
    <div class="card-header">Delete Category</div>
    <div class="card-body">
      <form #updateForm=ngForm (ngSubmit)="onSubmit()">
        <div class="alert alert-danger" [hidden]="!menssage">
          {{menssage}}
        </div>
        <div class="row mb-3">
          <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <span name="name" placeholder="Name" class="form-control ng-valid" id="inputName3">{{form.name}}</span>
            <div class="alert alert-danger" [hidden]="!error.name">
              {{error.name}}
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputDescription3" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <span class="form-control ng-valid" style="height:100%" name="description"
              placeholder="Description" class="form-control ng-valid" id="inputDescription3"><pre>{{form.description}}</pre></span>
            <div class="alert alert-danger" [hidden]="!error.description">
              {{error.name}}
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-10 offset-2">
            <button type="submit" class="btn btn-primary" [disabled]="!updateForm.valid">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
